* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.2s;
}

@media (min-width: 1024px) {
    .info-content,
    .control-header,
    .timebar-line {
        margin-top: 12px;
    }
    .control-body {
        padding-top: 0 !important;
    }
    .control-footer {
        /* font-size: 36px; */
    }
    .control-track {
        /* font-size: 48px; */
    }
    .img-wrap .img-container {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 767px) {
    :root {
        --img-size: 100px !important;
    }
    .song-title {
        font-size: 16px;
    }
    .song-artist {
        font-size: 12px;
    }
    .control-footer {
        font-size: 16px !important;
    }
    .footer-info {
    max-width: calc(100% - 125px) !important;
    }
}

@media (max-width: 499px) {
    :root {
        --img-size: 50px !important;
    }
    .info .img-wrap {
        width:  300px!important;
        height:  300px!important;
    }
    .footer-info {
        /* max-width: calc(100% - 75px) !important; */
    }
}

