:root {
    --img-size: 130px;
}

#content {
    background-color: #091227;
    min-height: 100vh;
    color: #EAF0FF;
    overflow-x: hidden;
}

i {
    cursor: pointer;
    user-select: none;
}


.icon {
    color: #4c5773;
}

.icon.active {
    color: #EAF0FF;
}

.header {
    width: 100vw;
    height: auto;
    padding: 24px;
    position: relative;
    background-color: transparent;
    text-align: center;
}

.header .header-title {

}

.header .back.btn {
    position: absolute;
}

.content {
    padding: 24px;
    margin-bottom: 200px;
}

.info {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 3vh;
    overflow: hidden;
}

.info .img-wrap {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrap .img-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    height: 100%;
    border-radius: 12px;
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.1));
    object-fit: cover;
    border-radius: 12px;
    overflow: hidden;
}

.img-wrap .img-container .img {
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
}

.info-content {
    --margin-size: 32px;
    margin-top: 36px;
    text-align: center;
    position: relative;
    width: 100%;
    margin-left: var(--margin-size);
    margin-right: var(--margin-size);
}

.info-content .title {
    line-height: 40px;
}

.info-content .artist {
    
}

.control {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #212A3E;
    padding-top: 12px;
}

.control-body {
    padding: 24px;
}

.timebar-numbers {
    display: flex;
    justify-content: space-between;
    /* margin: 15px; */
    margin-bottom: 30px;
}

.timelineBar {
    width: 100%;
    position: relative;

}

#timeline {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background: #555b6a;
    overflow: hidden;
    cursor: pointer;
}

#timeline:focus {
    outline: none;
}

#timeline::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    box-shadow: -1000px 0 0 1000px #d5eebb;
    background-color: #d5eebb;
    width: 0;
}


#timeline::-moz-range-thumb {
    box-shadow: -1000px 0 0 1000px #d5eebb;
    appearance: none;
    height: 20px;
    width: 0;
    border: none;
}

#timeline::-webkit-slider-runnable-track{
    background-color: #555b6a;
    border-radius: 12px;
}

.control-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 100%s;
}

.player-control-btns {
    display: flex;
    justify-content: space-evenly;
    
}

.player-control-btn.active .icon {
    color: #EAF0FF;
}

.mute-wrap {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.mute.muted {
    display: none;
}

#content.muted .mute.muted{
    display: inline-block;
}

#content.muted .mute.unMute{
    display: none;
}

.songPlay.pause {
    display: none;
}

#content.play .songPlay.play {
    display: none !important;
}

#content.play .songPlay.pause {
    display: inline-block;
}

.control-track {
    font-size: 24px;
    padding: 12px;
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
}

.control-track i {
    font-size: 36px;
}

.control-track .switchSong {
    font-size: 28px;
}

.footer {
    overflow: hidden;
    margin: 36px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.footer-item {
    width: 100%;
    background-color: #4c5773;
    border-radius: 12px;
    padding: 12px;
    vertical-align: middle;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.footer .img-wrap {
    height: var(--img-size);
    width: var(--img-size);
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    vertical-align: middle;
}

.footer .song-img {
    height: var(--img-size);   
}

.footer-info {
    padding: 12px;
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 70px);
}

.footer-info .song-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-info .song-artist {
    margin-top: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



